/* Basic CSS */

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.content {
    width: 85%;
    display: flex;
    margin: 0 auto 100px;
    padding: 50px 0;
}

/* Banner Section */

.banner {
    background-image: url('images/top-bg.png');
    background-repeat: no-repeat;
}
.banner .content .text {
    width: 55%;
}
.banner .content .text h1 {
    font-size: 45px;
    padding: 25px 0;
}
.banner .text .name {
    color: tomato;
}
.banner .content .text p {
    font-size: 18px;
    padding-top: 20px;
    color: gray;
}
.banner .content .me-1 {
    margin-left: 50px;
    width: 45%;
}
.banner .content .me-1 img {
    width: 100%;
}
.banner .content .text a {
    display: inline-block;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, rgb(255, 130, 107),tomato);
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 25px;
    transition: .4s;
}
.banner .content .text a:hover {
    background-image: linear-gradient(-45deg, rgb(255, 130, 107),tomato);
}

/* Dream Section */

.dream {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.dream .content .image {
    margin-right: 50px;
    width: 55%;
}
.dream .content .image img {
    width: 90%;
}
.dream .content .text {
    width: 45%;

}
.dream .content .text h1{
    font-size: 45px;
    padding: 80px 0 40px;
}
.dream .content .text h3 {
    padding: 0 0 10px;
}
.dream .content .text p {
    font-size: 18px;
    padding-top: 20px;
    color: gray;
}
.dream .content .text a {
    display: inline-block;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, darkorange, orange);
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 25px;
    transition: .4s;
}
.dream .content .text a:hover {
    background-image: linear-gradient(45deg, orange, darkorange);
}

/* Experience Section */

.exp {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: center left;
}
.exp-head {
    text-align: center;
    margin-bottom: 30px;
}
.exp-head h1 {
    display: inline-block;
    font-size: 45px;
    color: tomato;
    padding: 5px 0;
    border-bottom: 5px dotted tomato;
}
.exp .content {
    width: 90%;
    justify-content: space-between;
}
.exp .content .item {
    width: 48%;
    padding: 50px;
    border-left: 8px solid;
    border-image: linear-gradient(180deg, tomato, rgb(250, 128, 40) );
    border-image-slice: 1;
    box-shadow: 5px 7px 40px 0 gray;
    box-sizing: border-box;
}
.exp .content .item h1 {
    font-size: 40px;
    padding: 0 0 25px;
}
.exp .content .item h3 {
    color: orange;
    padding: 0 0 15px;
}
.exp .content .item p {
    font-size: 18px;
    color: gray;
    line-height: 150%;
}

/* Footer Section */

footer {
    margin: 50px 0 15px;
    text-align: center;
}
footer p {
    font-size: 18px;
    color: gray;

}
footer a {
    color: tomato;
    text-decoration: none;
}

/* Contact Section */

.contact .head {
    display: block;
    text-align: center;
}
.contact  h1 {
    display: inline-block;
    font-size: 45px;
    color: tomato;
    padding: 5px 0;
    border-bottom: 5px dotted tomato;
}
.contact .content {
    flex-direction: wrap;
}
.contact h2 {
    text-align: center;
    color: darkorange;
    font-size: 30px;
    margin-bottom: 20px;
}
.form {
    width: 50%;
    flex-grow: 1;
}
.form form {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.form input[type=text],[type=email] {
    font-size: 18px;
    padding: 5px 10px;
    margin: 20px 15px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    box-sizing: border-box;
}
.form textarea {
    width: 86%;
    margin: 20px 15px;
    resize: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid gray;
    font-family: 'Roboto', sans-serif;
}
.form input:focus {
    background-color: lightyellow;
    outline: none;
    border: none;
    border-bottom: 2px solid tomato;
}
.form textarea:focus {
    outline: none;
    border: 2px solid tomato;
    background-color: lightyellow;
}
.form [type=submit] {
    margin:  1% 0 0 73%;
    color: white;
    background-color: tomato;
    font-size: 18px;
    padding: 8px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    outline: none;
    border: none;
}
.form [type=submit]:hover {
    background-color: rgb(255, 140, 40);
}
.social {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.links {
    margin: 100px 0 0 0;
}
.links a {
    display: inline-block;
    font-size: 30px;
    color: tomato;
    margin: 8px;
    transition: .4s;
}
.links a:hover {
    color: darkorange;
}